# Set default behavior to automatically normalize line endings
* text=auto

# Python files
*.py text eol=lf
*.pyi text eol=lf
*.pyw text eol=lf
*.ipynb text eol=lf
Pipfile text eol=lf
requirements*.txt text eol=lf
runtime.txt text eol=lf

# Python binary files
*.db binary
*.p binary
*.pkl binary
*.pickle binary
*.pyc binary
*.pyd binary
*.pyo binary

# Configuration files
*.cfg text eol=lf
*.cnf text eol=lf
*.conf text eol=lf
*.config text eol=lf
*.ini text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Alembic
*.mako text eol=lf

# Shell scripts
*.sh text eol=lf
*.bash text eol=lf

# Windows scripts
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Web files
*.css text eol=lf
*.htm text eol=lf
*.html text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.xml text eol=lf
*.xhtml text eol=lf

# Documentation
*.md text eol=lf
*.rst text eol=lf
*.txt text eol=lf
LICENSE text eol=lf

# Docker
Dockerfile text eol=lf
.dockerignore text eol=lf

# Git config
.gitattributes text eol=lf
.gitignore text eol=lf
.gitconfig text eol=lf

# Database files
*.sql text eol=lf

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text eol=lf

# AWS/Cloud
*.tf text eol=lf
*.tfvars text eol=lf